*{
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.thongtinkhachhang{
    height: 500px;

    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    width: 50%;
    border: solid 3px darkgrey;
    border-radius: 20px;
    padding: 20px;

}


#showcart{
    position: fixed;
    border-radius:10px;
    background-color: #EEE;
    padding: 10px;
    border: 1px #CCC solid;
}

#mycart > tr > td >img{
    width: 75px;
    height: auto;
    border-radius: 10px;
}
table, th, td{
    border: 1px #ccc solid;
}

.dongy {
    margin-left: 70px;
    width: 300px;
    border: 1px #F90 solid;
    background-image: linear-gradient(#d09206, #d09206);
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
}

.dongy:hover {
    background-image: linear-gradient(#d09206, #f39c12);
}
.row mb{
    padding-bottom: 30px;
}
#thongtinnhanhang tr td {
    text-align: left;
    padding: 10px;
}

#thongtinnhanhang input {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 5px;
}




