*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:14px;
    color: #222222;
    font-weight:400;
    line-height:1.35;
    background-color: #fafafa;
    font-family:'Be Vietnam Pro', sans-serif;
}
li{
    list-style:none ;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width:100%;
}
.container{
    float:none;
    width:1200px;
    margin: 0 auto;
}
.header{
    background-color: rgb(19, 19, 19);
    float:left;

}
.logo{
   float:left;
   padding-left:80px;
}


.top-page input{
    font-size:20px

}
.top-page{
     float:right;
    padding:40px 0;
}
.top-page a{
    padding-left:10px;
    font-size: 20px;

}
.top-page button{

    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 183, 0, 0.8) ;
    color:rgba(255, 183, 0, 0.8);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.top-page i{
    color:rgba(255, 183, 0, 0.8);
}
.navigation{
    border-top:2px solid #936c16;
    background-color: rgb(19, 19, 19);

}
.navigator{
    float:left;
    padding:20px 0;
    color: rgba(255, 183, 0, 0.8);

}
.navigator a{
    color: rgba(255, 183, 0, 0.8);
}
.navbar-band{
    color: rgba(255, 183, 0, 0.8);
}
.navigator button{
    color: rgba(255, 183, 0, 0.8);
}
.navigator li{
    float: left;
    padding-right:55px;
    color: rgba(255, 183, 0, 0.8);
}
.navigator li a{
    color: rgba(255, 183, 0, 0.8);
    font-size:15px;
}

.login{
    float:right;
    padding: 25px 70px;
}
.cart i{
    font-size:25px;
    color: rgba(255, 183, 0, 0.8);
}
.login i{
    font-size:25px;
    color: rgba(255, 183, 0, 0.8);
    background-color:rgb(19, 19, 19);
}
.login button{
    background-color:rgb(19, 19, 19);
    color:rgba(255, 183, 0, 0.8);
}
.footer{
    padding:20px 0;
    border-top:2px solid #936c16;
    background-color: rgb(19, 19, 19);
}
.contact{
    float:left;
}
.socialmedia{
    padding-top:20px;
    float:right;
    padding-right:70px;
}
.socialmedia i{
    font-size:35px;
    color: rgba(255, 183, 0, 0.8);

}
.contact li{
    color:rgba(255, 183, 0, 0.8);
}
.contact a{
    color:rgba(255, 183, 0, 0.8);
}
.main{
    min-height: calc(100vh - 300px);
}
.footer{
    height:300px;
}
.logo img{
    width:250px;
}
.socialmedia h3{
    color:rgba(255, 183, 0, 0.8);
    font-size:25px;
}
.socialmedia a{
    padding:5px;
  }
.socialmedia i:hover{
    transform: scale(1.5);
}
.cart i:hover{
    transform: scale(1.5);
}
.map{
    margin-left:25px;
}
.login i:hover{
    transform: scale(1.5);
}
.login .modal-header h5{

    text-align: center;
    font-size:25px;
}
.modal-body i {
    font-size: 25px;
    margin-left: 15px;
    padding:10px;
    box-shadow: #1a1e21;
}
.modal-body input{
    font-size: 25px;
    margin-right:15px;
}
.modal-body button{
    padding:10px;
    margin-left:180px;
    box-shadow: #1a1e21;
}

.cart .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#car .modal-content {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.cart .modal-body {
    padding: 1rem;
}

.cart .modal-footer {

    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;

}

.cart .modal-footer>:not(:first-child) {
    margin-left: .25rem;
}

.modal-footer .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.modal-footer .btn-secondary {
    color: rgba(255, 183, 0, 0.8);
    background-color: rgb(19, 19, 19);
    border-color: rgba(255, 183, 0, 0.8);
    font-size:20px;
}

.modal-footer .btn-primary {
    font-size:20px;
    color: rgba(255, 183, 0, 0.8);
    background-color: rgb(19, 19, 19);
    border-color: rgba(255, 183, 0, 0.8);
}

.cart .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}



.cart .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#cart {
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: rgb(19, 19, 19);
    border: thin solid rgba(255, 183, 0, 0.8);
    float:right;
    padding: 30px 50px;
}
.cart-column{
    float: left;
    text-align: center;
}
.cart-quantity-input{
    width:100px;
    box-sizing: border-box;

}
.cart-quantity{
    width:100px;
    box-sizing: border-box;

}
.cart-column {
    display: flex;
    align-items: center;

    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.product .btn{
    border:1px solid rgb(19, 19, 19);
}