*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:14px;
    color: #222222;
    font-weight:400;
    line-height:1.35;
    background-color: #fafafa;
    font-family:'Be Vietnam Pro', sans-serif;
}
li{
    list-style:none ;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width:100%;
}
.container{
    float:none;
    width:1200px;
    margin: 0 auto;
}
.header{
    background-color: rgb(19, 19, 19);
    float:left;

}
.logo{
   float:left;
   padding-left:80px;
}



.top-page input{
    font-size:20px

}
.top-page{
     float:right;
    padding:40px 0;
}
.top-page a{
    padding-left:10px;
    font-size: 20px;

}
.top-page button{

    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 183, 0, 0.8) ;
    color:rgba(255, 183, 0, 0.8);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.top-page i{
    color:rgba(255, 183, 0, 0.8);
}
.navigation{
    border-top:2px solid #936c16;
    background-color: rgb(19, 19, 19);

}
.navigator{
    float:left;
    padding:20px 0;
    color: rgba(255, 183, 0, 0.8);

}
.navigator a{
    color: rgba(255, 183, 0, 0.8);
}
.navbar-band{
    color: rgba(255, 183, 0, 0.8);
}
.navigator button{
    color: rgba(255, 183, 0, 0.8);
}
.navigator li{
    float: left;
    padding-right:55px;
    color: rgba(255, 183, 0, 0.8);
}
.navigator li a{
    color: rgba(255, 183, 0, 0.8);
    font-size:15px;
}
.cart{
    float:right;
    padding: 30px 150px;
}
.cart i{
    font-size:25px;
    color: rgba(255, 183, 0, 0.8);
}
.footer{
    padding:20px 0;
    border-top:2px solid #936c16;
    background-color: rgb(19, 19, 19);
}
.contact{
    float:left;
}
.socialmedia{
    padding-top:20px;
    float:right;
    padding-right:70px;
}
.socialmedia i{
    font-size:35px;
    color: rgba(255, 183, 0, 0.8);

}
.contact li{
    color:rgba(255, 183, 0, 0.8);
}
.contact a{
    color:rgba(255, 183, 0, 0.8);
}
.main{
    min-height: calc(100vh - 200px);
}
.footer{
    height:200px;
}
.logo img{
    width:250px;
}
.socialmedia h3{
    color:rgba(255, 183, 0, 0.8);
    font-size:25px;
}
.socialmedia a{
    padding:5px;
}