.product{
    width: calc(25% - 20px);
    float:left;
    padding:10px;
    text-align: center;
    box-shadow: 0 0 5px #a26b41;
    border-radius: 6px;
    margin:10px;
    height:380px;
}
.text-center{
    padding:20px;
}
.main h1{
    font-size:16px;
    color: rgba(0, 0, 0, 0.73);
    text-align:left;
}
.main h6{
    width:25%;
    float:left;
    font-size:20px;
    color: rgba(5, 5, 5, 0.62);
    margin-left:15px;
}
.main button{
    color: #755c0b;
    font-size: 20px;

    width:50%;
    float:right;
    margin-right:20px;

}
.main button:hover{
    transform: scale(1.1);
}
.main a{
    text-decoration: none;
}
.main img{
    height: 220px;
}

.product img{
    width:100%;

}
.product h1{
    height:50px;
}
.product{

}
.product h6{
    font-size:20px;
}
.product .btn i{
    color: rgba(194, 145, 45, 0.76);
}